@import "mixins";
@import "colors";
@import "utilities";

*, *::before, *::after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
  width: 100%;
  color: hslac($black, 1);
  font-family: $font-main;
  background-color: hslac($background, 1);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
/* Font Size */
h1 {
  font-size: $heading-large;
}
h2 {
  font-size: $heading-medium;
}
h3 {
  font-size: $heading-small;
}
h4 {
  font-size: calc($heading-small - .2rem);
}
h5 {
  font-size: calc($heading-small - .4rem);
}
h6 {
  font-size: calc($heading-small - .6rem);
}
/* Font Weight */
h1, h2 {
  font-weight: 900;
}
h3, h4, h5, h6 {
  font-weight: 800;
}
/* Paragraphs */
p {
  margin: 0;
  font-size: $paragraph;
}
/* Links */
a {
  color: hslac($primary, 1);
  font-size: $paragraph;
  text-decoration: none;
}
a:visited {
  color: hslac($primary, .5);
}
/* Global */
.view-width {
  width: calc(100% - 6em);
  max-width: 1420px;
}
.no-margin {
  margin: 0 !important;
}
/* Navbar */
.navbar {
  width: 100%; height: 5em;
  position: fixed;
  z-index: 100;
  @include flex-center();

  &-inner {
    padding: 0 1em;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    &-logo {
      height: 100%;
      @include flex-left();

      &-link {
        @include flex-center();
        svg {
          height: 3em;
          path {
            fill: hslac($white, 1);
          }
        }
      }
    }
    &-items {
      height: 100%;
      @include flex-right();

      &-list {
        height: 100%;
        margin: 0; padding: 0;
        list-style-type: none;
        @include flex-center();

        &-item {
          position: relative;
          @include flex-center();

          &-link {
            padding: 1em 1.4em;
            height: 100%;
            color: hslac($white, 1);
            background-color: hslac($black, .3);
            backdrop-filter: blur(1rem);
            border-radius: 5rem;
            border: none;
            font-family: $font-main;
            font-size: $paragraph;
            @include flex-center();

            &::placeholder {
              color: hslac($white, 1);
            }
          }
          &-search {
            right: .8em;
            width: 3em; height: 3em;
            position: absolute;
            background-color: hslac($black, 0);
            border-radius: 5rem;
            @include flex-center();

            svg {
              width: 1.5em;
              #search-ico {
                stroke: hslac($white, 1);
              }
            }
          }
        }
      }
    }
  }
}
.to-index {
  top: 2em;
  .navbar-inner {
    background-color: hslac($black, 0);
    backdrop-filter: blur(0);
    border-radius: .5rem;
    transition: all .35s cubic-bezier($transition-main, 1);
    /*animation: navbarIn .35s .35s cubic-bezier($transition-main, 1) forwards;*/
  }
}
/* Keyframes */
@keyframes navbarOut {
  0% { top: 0; }
  100% { top: 2em; }
}
@keyframes navbarIn {
  0% { background-color: hslac($black, 0); backdrop-filter: blur(0); }
  100% { background-color: hslac($black, .3); backdrop-filter: blur(1rem); }
}
@keyframes navbarInOut {
  0% { background-color: hslac($black, .3); backdrop-filter: blur(1rem); }
  100% { background-color: hslac($black, 0); backdrop-filter: blur(0); }
}
@keyframes navbarTopInOut {
  0% { top: 2em; }
  100% { top: 0; }
}
/* Header */
.header {
  margin: 0 0 10em 0; padding: 0;
  width: 100%; height: 100vh;
  position: relative;
  animation: headerLoading 1s .5s cubic-bezier($transition-main, 1) forwards;
  @include flex-center();

  &-inner {
    width: 100%; height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 3;
    @include flex-center();

    &-title {
      width: 100%; height: 100%;
      position: absolute;
      z-index: 5;
      @include flex-center();

      &-inner {
        padding: .22em 0;
        position: relative;
        color: hslac($white, 1);
        font-family: $font-title-smooth;
        font-style: italic;
        text-align: center;
        letter-spacing: .025em;
        line-height: .8;
        transform: scale(1.2, 1);
        user-select: none;
        overflow: hidden;
        @include flex-center();
      }
      &-inner span {
        top: 0;
        display: block;
        position: relative;
        transform: scale(1, 1) rotate(0);
      }
      &-inner .ht-outlined {
        color: transparent;
        -webkit-text-stroke: 1px hslac($white, 1);
      }
    }
    &-overlay {
      width: 100%; height: 100%;
      position: absolute;
      background-color: hslac($black, .6);
      z-index: 4;
      animation: headerOverlayLoading 1s .5s cubic-bezier($transition-main, 1) forwards;
    }
  }
  &-background {
    min-width: 100%; min-height: 100%;
    max-width: 110%;
    position: absolute;
    object-fit: cover;
    transform: scale(1.1, 1.1);
    animation: headerBackgroundLoading 1s .5s cubic-bezier($transition-main, 1) forwards;
  }
  &-background-blur {
    width: 100vw; height: 100vh;
    position: absolute;
    transform: scale(.9, .9);
    filter: blur(6rem);
    opacity: .5;
    z-index: 1;
  }
}
/* Keyframes */
@keyframes headerLoading {
  0% { padding: 0; }
  100% { padding: 2em; }
}
@keyframes headerTitle {
  0% { top: 0; transform: scale(1, 1) rotate(0); }
  100% { top: 0; transform: scale(1, 1) rotate(0); }
}
@keyframes headerOverlayLoading {
  0% { background-color: hslac($black, .6); }
  100% { background-color: hslac($black, .3); }
}
@keyframes headerBackgroundLoading {
  0% { transform: scale(1.1, 1.1); }
  100% { transform: scale(1, 1); }
}
/* Main */
.main {
  @include flex-col();
}
/* Article List */
.article-list {
  width: 100%;
  &-item {
    margin: 0; padding: 0;
    width: 100%; height: 100vh;
    position: relative;
    animation: aListLoading 1s .5s cubic-bezier($transition-main, 1) forwards;
    @include flex-center();

    &-inner {
      width: 100%; height: 100%;
      position: relative;
      overflow: hidden;
      z-index: 3;
      @include flex-center();

      &-title {
        width: 100%; height: 100%;
        position: absolute;
        z-index: 5;
        @include flex-center();

        &-inner {
          padding: .22em 0;
          position: relative;
          color: hslac($white, 1);
          font-family: $font-title-smooth;
          font-size: $heading-large;
          font-weight: 900;
          font-style: italic;
          text-align: center;
          letter-spacing: .025em;
          line-height: .8;
          text-decoration: none;
          transform: scale(1.2, 1);
          user-select: none;
          overflow: hidden;
          @include flex-center();

          &:visited {
            color: hslac($white, 1);
          }
        }
        &-inner span {
          top: 2em;
          display: block;
          position: relative;
          transform: scale(.8, .8) rotate(17deg);
        }
        &-inner .ht-outlined {
          color: transparent;
          -webkit-text-stroke: 1px hslac($white, 1);
        }
      }
      &-overlay {
        width: 100%; height: 100%;
        position: absolute;
        background-color: hslac($black, 1);
        z-index: 4;
        animation: aListOverlayLoading 1s .5s cubic-bezier($transition-main, 1) forwards;
      }
    }
    &-background {
      min-width: 100%; min-height: 100%;
      max-width: 110%;
      position: absolute;
      object-fit: cover;
      transform: scale(1, 1);
      transition: all .35s cubic-bezier($transition-main, 1);
    }
    &-background-blur {
      width: 100vw; height: 100vh;
      position: absolute;
      transform: scale(.9, .9);
      filter: blur(6rem);
      opacity: .5;
      z-index: 1;
    }
  }
}
/* Keyframes */
@keyframes aListLoading {
  0% { padding: 0; }
  100% { padding: 0; }
}
@keyframes aListTitle {
  0% { top: 2em; transform: scale(.8, .8) rotate(17deg); }
  100% { top: 0; transform: scale(1, 1) rotate(0); }
}
@keyframes aListOverlayLoading {
  0% { background-color: hslac($black, 1); }
  100% { background-color: hslac($black, .6); }
}
/* Other Article List */
.other-article {
  margin: 10em 0; padding: 2em;
  position: relative;
  gap: 2em;
  @include flex-col-left-ns();

  &-title {
    top: .3em; left: 50%;
    position: absolute;
    color: transparent;
    font-size: $heading-large;
    font-family: $font-title-smooth;
    font-style: italic;
    font-weight: 900;
    -webkit-text-stroke: 1px hslac($black, 1);
    transform: translateX(-50%);
  }
  &-list {
    padding: 5em 0 0 0;
    width: 100%; max-width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: flex-start;
    gap: 2em;
    &-item {
      margin: 0; padding: 0;
      width: 100%; height: 25em;
      position: relative;
      @include flex-center();

      &-inner {
        width: 100%; height: 100%;
        position: relative;
        overflow: hidden;
        z-index: 3;
        @include flex-center();

        &-title {
          width: 100%; height: 100%;
          position: absolute;
          z-index: 5;
          @include flex-center();

          &-inner {
            padding: .22em 0;
            position: relative;
            color: hslac($white, 1);
            font-family: $font-title-smooth;
            font-size: $heading-small;
            font-weight: 900;
            font-style: italic;
            text-align: center;
            letter-spacing: .025em;
            line-height: .8;
            text-decoration: none;
            transform: scale(1.2, 1);
            user-select: none;
            overflow: hidden;
            @include flex-center();

            &:visited {
              color: hslac($white, 1);
            }
          }
          &-inner span {
            top: 0;
            display: block;
            position: relative;
            transform: scale(1, 1) rotate(0);
          }
          &-inner .ht-outlined {
            color: transparent;
            -webkit-text-stroke: 1px hslac($white, 1);
          }
        }
        &-overlay {
          width: 100%; height: 100%;
          position: absolute;
          background-color: hslac($black, .6);
          z-index: 4;
        }
      }
      &-background {
        min-width: 110%; min-height: 110%;
        max-width: 125%;
        position: absolute;
        object-fit: cover;
        transform: scale(1, 1);
        transition: all .35s cubic-bezier($transition-main, 1);
      }
      &-background-blur {
        width: 100%; height: 100%;
        position: absolute;
        transform: scale(.9, .9);
        filter: blur(6rem);
        opacity: .5;
        z-index: 1;
      }
    }
  }
}
/* Articles */
.article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5em;

  &-title {
    font-size: $heading-medium;
  }
  .title {
    font-size: $heading-medium;
    &-main {
      font-family: $font-title;
    }
    &-smooth {
      font-family: $font-title-smooth;
      font-style: italic;
    }
  }
  &-quote {
    margin: 3em 0 2em;
    gap: 1em;
    @include flex-col-left-ns();

    &-statement {
      font-size: calc($heading-small - .6rem);
      font-weight: 600;
    }
    &-author {
      font-size: calc($paragraph - .2rem);
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  &-paragraph {
    margin: 0 0 1em 0;
    font-weight: 300;
  }
  &-content {
    width: 100%;
  }
  &-media {
    width: 100%;
    &-container {
      width: 100%;
      position: relative;
      @include flex-center();

      &-image {
        width: 100%;
        position: relative;
        z-index: 2;
      }
      &-image-blur {
        top: .4em;
        width: 100%;
        position: absolute;
        transform: scale(.94, .94);
        filter: blur(4rem);
        opacity: .5;
        z-index: 1;
      }
    }
  }
}
.article-videoline {
  margin: 10em 0;
  width: 100%;
  &-inner {
    width: 100%; height: 35vw;
    position: relative;
    overflow: hidden;
    @include flex-center();

    &-media {
      min-width: 100%; min-height: 100%;
      max-width: 110%;
      position: absolute;
      object-fit: cover;
    }
  }
}
.footer {
  margin: 10em 0 0 0;
}