@import "mixins";
@import "colors";
@import "utilities";

*, *::before, *::after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
  width: 100%;
  color: hslac($black, 1);
  font-family: $font-main;
  background-color: hslac($background, 1);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
/* Font Size */
h1 {
  font-size: $heading-large;
}
h2 {
  font-size: $heading-medium;
}
h3 {
  font-size: $heading-small;
}
h4 {
  font-size: calc($heading-small - .2rem);
}
h5 {
  font-size: calc($heading-small - .4rem);
}
h6 {
  font-size: calc($heading-small - .6rem);
}
/* Font Weight */
h1, h2 {
  font-weight: 900;
}
h3, h4, h5, h6 {
  font-weight: 800;
}
/* Paragraphs */
p {
  margin: 0;
  font-size: $paragraph;
}
/* Links */
a {
  color: hslac($primary, 1);
  font-size: $paragraph;
  text-decoration: none;
}
a:visited {
  color: hslac($primary, .5);
}
/* Global */
.view-width {
  width: calc(100% - 6em);
  max-width: 1420px;
}
/* Header */
.header {
  margin: 0 0 5em 0; padding: 0;
  width: 100%; height: 100vh;
  position: relative;
  animation: headerLoading 1s .5s cubic-bezier($transition-main, 1) forwards;
  @include flex-center();

  &-inner {
    width: 100%; height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 3;
    @include flex-center();

    &-title {
      width: 100%; height: 100%;
      position: absolute;
      z-index: 5;
      @include flex-center();

      &-inner {
        padding: .22em 0;
        position: relative;
        color: hslac($white, 1);
        font-family: $font-title-smooth;
        font-style: italic;
        text-align: center;
        letter-spacing: .025em;
        line-height: .8;
        transform: scale(1.2, 1);
        user-select: none;
        overflow: hidden;
        @include flex-center();
      }
      &-inner span {
        top: 2em;
        display: block;
        position: relative;
        transform: scale(.8, .8) rotate(17deg);
      }
      &-inner .ht-outlined {
        color: transparent;
        -webkit-text-stroke: 1px hslac($white, 1);
      }
    }
    &-overlay {
      width: 100%; height: 100%;
      position: absolute;
      background-color: hslac($black, 1);
      z-index: 4;
      animation: headerOverlayLoading 1s .5s cubic-bezier($transition-main, 1) forwards;
    }
    &-background {
      min-width: 100%; min-height: 100%;
      max-width: 110%;
      position: absolute;
      object-fit: cover;
    }
  }
  &-background-blur {
    width: 100vw; height: 100vh;
    position: absolute;
    transform: scale(.9, .9);
    filter: blur(6rem);
    opacity: .5;
    z-index: 1;
  }
}
/* Keyframes */
@keyframes headerLoading {
  0% { padding: 0; }
  100% { padding: 2em;}
}
@keyframes headerTitle {
  0% { top: 2em; transform: scale(.8, .8) rotate(17deg); }
  100% { top: 0; transform: scale(1, 1) rotate(0); }
}
@keyframes headerOverlayLoading {
  0% { background-color: hslac($black, 1); }
  100% { background-color: hslac($black, .3);}
}
/* Main */
.main {
  margin: 5em 0;
  @include flex-col();
}
.article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;

  &-title {
    font-size: $heading-medium;
  }
  .title {
    font-size: $heading-medium;
    &-main {
      font-family: $font-title;
    }
    &-smooth {
      font-family: $font-title-smooth;
      font-style: italic;
    }
  }
  &-quote {
    margin: 3em 0 2em;
    gap: 1em;
    @include flex-col-left-ns();

    &-statement {
      font-size: calc($heading-small - .6rem);
      font-family: $font-title-smooth;
      font-style: italic;
      font-weight: 600;
    }
    &-author {
      font-size: calc($paragraph - .2rem);
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  &-paragraph {
    font-weight: 300;
  }
  &-content {
    width: 100%;
  }
  &-media {
    width: 100%;
    &-container {
      width: 100%;
      position: relative;
      @include flex-center();

      &-image {
        width: 100%;
        position: relative;
        z-index: 2;
      }
      &-image-blur {
        top: .4em;
        width: 100%;
        position: absolute;
        transform: scale(.94, .94);
        filter: blur(4rem);
        opacity: .5;
        z-index: 1;
      }
    }
  }
}